@include font-face(Marta, Marta);

@font-face {
    font-family: GothaProMed;
    src: url("../assets/fonts/GothaProMed.otf");
}

@font-face {
    font-family: GothaProReg;
    src: url("../assets/fonts/GothaProReg.otf");
}

@font-face {
    font-family: GothaBold;
    src: url("../assets/fonts/GothaProBol.otf");
}
